/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#map {
    height: 100%;
}

#mapView {
    height: 70%;
}

.container-fluid {
    height: 100%;
}

#user-input, #candidate-choose, #display-result {
    height: 30%;
    overflow: scroll;
    background-color: #4688f1;
}

.input-form {
    background-color: #4688f1;
    border:none;
    border-bottom: 1px solid #98bdf7;
    width: 70%;
}

.input-form:focus {
    border:none;
    border-bottom: 1px solid #98bdf7;
}

::placeholder {
    color: #e7f0fd;
}

#search-btn {
    background-color: #4688f1;
    color: #e7f0fd;
    margin-bottom: 8px;
}

input[type=text] {
    background-color: #4688f1;
    color: #e7f0fd;
}

#mapViewSub {
    padding: 0;
}

form select{
    margin-top:10px;
    color:#e7f0fd;
    background: transparent;
    border: none;
}

.check-box {
    background-color: #4688f1;
    color: #e7f0fd;
}

input[type=text] {
    background-color: #4688f1;
    color: #e7f0fd;
}

.candidate-label {
    margin-left: 5px;
}

#route-button {
    margin-top: 67px;
    color: #e7f0fd;
}

.back-btn {
    margin-top: 80px;
    background-color: #4688f1;
    color: #e7f0fd;
}